apiVersion: v1
kind: Service
metadata:
  name: postgres-service
  labels:
    app: postgres
    tier: backend
spec:
  type: ClusterIP
  selector:
    app: postgres
    tier: backend
  ports:
  - protocol: TCP
    port: 5432
    targetPort: 5432
    name: postgres
