apiVersion: v1
kind: Service
metadata:
  name: webapp-service
  labels:
    app: webapp
    tier: frontend
spec:
  type: NodePort
  selector:
    app: webapp
    tier: frontend
  ports:
  - protocol: TCP
    port: 80
    targetPort: 5000
    nodePort: 30080
    name: http
